body{
	font-family:arial;
    font-size: 25px;
    background-image: url('w1.jpg');

}
ul#sort a:link{
    background-color: #d02fca;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    list-style-type: none;
}
url#sort a:hover{
    background-color: #ddd;
    color: green;
}
img.tiny{
    width: 20px;
    border: solid thin grey;	
}
.background{
    position: absolute;
    padding: 20px;
    left: 30ex;
    font-weight: 20px;
    color: #ed390f;

}
.properties
{
    
    position: absolute;
    
    padding: 20px;
    left: 50ex;
    width: 600px;
   
}
img.big {
    width: 300px;
    border: solid thin grey;
    left:  100ex;
    text-align: center;
    top: 1ex;

}
.properties div div{
	display:inline-block;
  
}
.properties div div:first-child{
	width:20ex;
    
}
.properties div div:last-child{
	font-weight: bold;
   
}
a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}
a:hover {
    background-color: #ddd;
    color: green;
}
.color{
    color:#fc080e;
    font-weight: 10px;
}
.color1{
    color:#fc080e;
    font-weight: 10px;
}
.previous {
    background-color: grey;
    color: black;
}

.next {
    background-color: grey;
    color: black;
}
.create{
    background-color:#db4372;
    color: black;

}
.edit{
    background-color:#db4372;
    color: black;
}
.delete{
    background-color:#db4372;
    color: black;

}
.container{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 600px;
}
.sub
{ 
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 500px;
    border-style: hidden;
}

.nav_button{
    width:100px;
    border:solid black thin;
    }