<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel='stylesheet' href='/static/style.css'>
</head>
<body>
	<form action="/updateCountryByName">
	<h1>{{c['name']}}</h1>
		<div class='properties'>
			<img src="/static/flags/{{c['tld']}}.gif" class='big'>
			<div>
				<div><input type="hidden" value="{{c['name']}}" name="name"></div>
			</div>
			<div>
				<div>Capital</div>
				<div><input value="{{c['capital']}}" name="capital">
				</div>
				
			</div>
			<div>
				<div>Continent</div>
				<div><input value="{{c['continent']}}" name="continent">
				</div>
			</div>
			<div>
				<div>Population</div>
				<div format="{:,.0f}"><input value="{{c['population']}}" name="population"></div>
			</div>
			<div>
				<div>GDP (million $)</div>
				<div format="{:,.0f}"><input value=" {{c['gdp']/1000000}}" name="gdp"></div>
			</div>
			<div>
				<div>Area</div>
				<div format="{:,.0f}"><input value="{{c['area']}}" name="area"></div>
		</div>
			<div>
				<div>Tld</div>
				<div><input value="{{c['tld']}}" name="tld"></div>
		</div>
		
		
		<div class="sub">
		<input type="submit">
		<div class="delete-button"><a href="/delete/{{c.name}}">Delete</a></div>
		
		</form>
	</div>
		</div>
</body>
</html>