<!doctype html>
<html>
<head>
	<link rel='stylesheet' href='/static/style.css'>
</head>
	<body>
		<form action="/updatecountryByName">
		<div class='properties'>
		<img src="/static/flags/{{c['tld']}}.gif" class='big'>
		<h1>{{c['name']}}</h1>
		
			<div>
				<div><input name="name" value="{{c['name']}}" type="hidden"></div>
			</div>
			<div>
			<div>Capital</div>
				<div><input name="capital" value="{{c['capital']}}"></div>
			</div>
			<div>
				<div>Continent</div>
				<div><input  name="Continent" value="{{c['continent']}}"></div>
			</div>
			<div>
				<div>Population</div>
				<div>{{"{:,.0f}".format(c['population'])}}</div>
			</div>
			<div>
				<div>GDP (million $)</div>
				<div>{{ "{:,.0f}".format(c['gdp']/1000000) }}</div>
			</div>
			<div>
			<div>Area</div>
			<div>{{c['area']}}</div>
		</div>
		</div>
		<div>
		<div><input type="submit" ></div>
		<div class="delete-button"><a href="/delete/{{c.name}}">Delete</a></div>
		</form>
	</div>
	</body>
</html>