<!doctype html>
<html>
<head>
	<link rel='stylesheet' href='/static/style.css'>
</head>
	<body>
		<div class="background">
		<h1>World Factbook</h1>
		<div>There are {{w|length}} countries in the world.</div>
		
		<ul>
			{% for c in w %}
			<li><a href='/countryByName/{{c.name}}'>
				<img src='/static/flags/{{c["tld"]}}.gif' class='tiny'>
			 {{c.name}}</a></li>
			{% endfor %}
		</ul>
			<a href='/begin/{{page_number-page_size}}' class="previous">Previous Page</a>
			<a href='/begin/{{page_number+page_size}}' class="next">Next Page</a>
		</div>
	</body>
</html>